<div class="container-fluid">
    <div class="card mb-3">
        <!-- Body  -->
        Perfil
        <div class="card-body bg-secondary">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center">Nombre Usuario</th>
                        <th class="text-center">Correo Electronico</th>
                        <th class="text-center">Telefono</th>
                        <th class="text-center">Apellido</th>
                        <th class="text-center">Edad</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">{{usuarioDo.nombre}}</td>
                        <td class="text-center">{{usuarioDo.correo}}</td>
                        <td class="text-center">{{usuarioDo.telefono}}</td>
                        <td class="text-center">{{usuarioDo.apellido}}</td>
                        <td class="text-center">{{usuarioDo.edad}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
